body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.image-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    height:40vh;
    background-color: #f1f1f1;
}